/*~iphone7*/
@media screen and (max-width: 375px){
  .photo{
    width: 100%;
  }

  .btn{
    width: 100%;
  }

  .top-wrapper{
    text-align: left;
    padding-top: 200px;
  }

  .top-wrapper h1{
    font-size: 48px;
  }

  header{
    height: 150px;
  }

  .logo{
    width: 248px;
    padding-top: 18px;
  }

  .top-wrapper{
    padding-top: 400px;
    padding-bottom: 200px;
  }
}
}


/*~iphone7plus*/
@media screen and (max-width: 480px){
  .photo{
    width: 100%;
  }

  .btn{
    width: 100%;
  }

  .top-wrapper{
    text-align: left;
    padding-top: 200px;
  }

  .top-wrapper h1{
    font-size: 48px;
  }

  header{
    height: 150px;
  }

  .logo{
    width: 248px;
    padding-top: 18px;
  }

  .top-wrapper{
    padding-top: 400px;
    padding-bottom: 200px;
  }
}

@media (max-width: 1000px){
  .photo{
    width: 50%;
    margin-bottom: 50;
  }

  .top-wrapper h1{
    font-size: 32px;
  }
}
