@media (max-width: 1000px){
  .photo{
    width: 50%;
    margin-bottom: 50;
  }

  .top-wrapper h1{
    font-size: 32px;
  }
}

@media (max-width: 670px){
  .photo{
    width: 100%;
  }

  .btn{
    width: 100%;
  }

  .top-wrapper{
    text-align: left;
    padding-top: 130px;
  }

  .top-wrapper h1{
    font-size: 24px;
  }
}



/*iPhone6~用*/
@media only screen and (min-device-width:375px) and (max-device-width:667px) {
  .photo{
    width: 100%;
  }

  .btn{
    width: 100%;
  }

  .top-wrapper{
    text-align: left;
    padding-top: 130px;
  }

  .top-wrapper h1{
    font-size: 24px;
  }
}

/*iPhone~plus用*/
@media only screen and (min-device-width:414px) and (max-device-width:736px) {
  .photo{
    width: 100%;
  }

  .btn{
    width: 100%;
  }

  .top-wrapper{
    text-align: left;
    padding-top: 130px;
  }

  .top-wrapper h1{
    font-size: 24px;
  }
}
