body {
  font-family: "Avenir Next";
}

.container{
  width: auto;
}

.copy-container h1, h2{
  text-align: center;
  font-weight: normal;
}

.photo1{
  float: left;
  width: 25%
}

.photo2{
  float: left;
  width: 25%
}
